<section id="home">
    <input type="text" ng-model="message.name">
    <input type="text" ng-model="data.text">
    <button ng-click="userName()">UserName</button>
    <div class="col-xs-6 col-xs-offset-3">
        <section class="module">
            <header class="top-bar">
                <div class="left">
                    <span class="icon typicons-message"></span>
                    <h1>{{data.text}}</h1>
                </div>
                <div class="right">
                    <span class="icon typicons-minus"></span>
                    <span class="icon typicons-times"></span>
                </div>
            </header>
            <ol class="discussion">
                <li ng-repeat="message in messages track by $index" ng-class="{self: message.name===name,other: message.name !== name}">
                    <div class="avatar">
                        <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/5/profile/profile-80_9.jpg" />
                    </div>
                    <div class="messages">
                        <p>{{message.text}}</p>
                        <p>{{message.name}}</p>
                    </div>
                </li>
            </ol>
            New Message
            <input type="text" ng-model="message.text"> Submit
            <button ng-click="addMessage()">Submit</button>
        </section>
    </div>
</section>
